.imlogo {
    width: 45px;
}

}
p {
    font-size: 100px;
    height: 800px
}
.folder {
    padding-top: 70px;
}

body {
    font-size: 4,5rem;
}

.1ma {
    width: 100px;
    height: 100px;
}

.part1 {
    border-bottom: 10px bold black;
}

h1 {
    border-bottom: 10px black ;
}
